In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5, 4), index='A B C D E'.split(), columns = 'W Y X Z'.split())

In [4]:
df

          W         Y         X         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df.head()

          W         Y         X         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df.tail()

          W         Y         X         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df.shape

(5, 4)

In [11]:
a = df.shape
print('we have', a[1], 'columns')

we have 4 columns

In [5]:
df['Y']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: Y, dtype: float64

In [9]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [11]:
type(df['W'])

pandas.core.series.Series

In [12]:
df['sum of WY'] = df['W'] + df['Y']  #creating a column
df['sum of WX'] = df['W'] + df['X']

In [13]:
df

          W         Y         X         Z  sum of WY  sum of WX
A  2.706850  0.628133  0.907969  0.503826   3.334983   3.614819
B  0.651118 -0.319318 -0.848077  0.605965   0.331800  -0.196959
C -2.018168  0.740122  0.528813 -0.589001  -1.278046  -1.489355
D  0.188695 -0.758872 -0.933237  0.955057  -0.570177  -0.744542
E  0.190794  1.978757  2.605967  0.683509   2.169552   2.796762

In [22]:
df.drop(['sum of WY'], axis = 1)

          W         Y         X         Z  sum of WX
A  2.706850  0.628133  0.907969  0.503826   3.614819
B  0.651118 -0.319318 -0.848077  0.605965  -0.196959
C -2.018168  0.740122  0.528813 -0.589001  -1.489355
D  0.188695 -0.758872 -0.933237  0.955057  -0.744542
E  0.190794  1.978757  2.605967  0.683509   2.796762

In [23]:
df.head()

          W         Y         X         Z  sum of WY  sum of WX
A  2.706850  0.628133  0.907969  0.503826   3.334983   3.614819
B  0.651118 -0.319318 -0.848077  0.605965   0.331800  -0.196959
C -2.018168  0.740122  0.528813 -0.589001  -1.278046  -1.489355
D  0.188695 -0.758872 -0.933237  0.955057  -0.570177  -0.744542
E  0.190794  1.978757  2.605967  0.683509   2.169552   2.796762

In [24]:
df.drop(['sum of WY'], axis = 1, inplace = True)

In [25]:
df

          W         Y         X         Z  sum of WX
A  2.706850  0.628133  0.907969  0.503826   3.614819
B  0.651118 -0.319318 -0.848077  0.605965  -0.196959
C -2.018168  0.740122  0.528813 -0.589001  -1.489355
D  0.188695 -0.758872 -0.933237  0.955057  -0.744542
E  0.190794  1.978757  2.605967  0.683509   2.796762

In [26]:
#selecting a particular row/record
df.loc['A']

W            2.706850
Y            0.628133
X            0.907969
Z            0.503826
sum of WX    3.614819
Name: A, dtype: float64

In [27]:
df.loc['E']

W            0.190794
Y            1.978757
X            2.605967
Z            0.683509
sum of WX    2.796762
Name: E, dtype: float64

In [28]:
#resetting index to the default one
df.reset_index(inplace = True)

In [29]:
df

  index         W         Y         X         Z  sum of WX
0     A  2.706850  0.628133  0.907969  0.503826   3.614819
1     B  0.651118 -0.319318 -0.848077  0.605965  -0.196959
2     C -2.018168  0.740122  0.528813 -0.589001  -1.489355
3     D  0.188695 -0.758872 -0.933237  0.955057  -0.744542
4     E  0.190794  1.978757  2.605967  0.683509   2.796762

In [30]:
df.drop(['index'], axis=1, inplace = True)

In [31]:
df

          W         Y         X         Z  sum of WX
0  2.706850  0.628133  0.907969  0.503826   3.614819
1  0.651118 -0.319318 -0.848077  0.605965  -0.196959
2 -2.018168  0.740122  0.528813 -0.589001  -1.489355
3  0.188695 -0.758872 -0.933237  0.955057  -0.744542
4  0.190794  1.978757  2.605967  0.683509   2.796762

In [32]:
df.columns

Index(['W', 'Y', 'X', 'Z', 'sum of WX'], dtype='object')

In [33]:
newind = 'CA NA OR NY WO'.split()

In [36]:
df['State'] = newind

In [37]:
df

          W         Y         X         Z  sum of WX State
0  2.706850  0.628133  0.907969  0.503826   3.614819    CA
1  0.651118 -0.319318 -0.848077  0.605965  -0.196959    NA
2 -2.018168  0.740122  0.528813 -0.589001  -1.489355    OR
3  0.188695 -0.758872 -0.933237  0.955057  -0.744542    NY
4  0.190794  1.978757  2.605967  0.683509   2.796762    WO

In [38]:
df.set_index(['State'], inplace = True)

In [39]:
df

              W         Y         X         Z  sum of WX
State
CA     2.706850  0.628133  0.907969  0.503826   3.614819
NA     0.651118 -0.319318 -0.848077  0.605965  -0.196959
OR    -2.018168  0.740122  0.528813 -0.589001  -1.489355
NY     0.188695 -0.758872 -0.933237  0.955057  -0.744542
WO     0.190794  1.978757  2.605967  0.683509   2.796762

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, CA to WO
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   W          5 non-null      float64
 1   Y          5 non-null      float64
 2   X          5 non-null      float64
 3   Z          5 non-null      float64
 4   sum of WX  5 non-null      float64
dtypes: float64(5)
memory usage: 240.0+ bytes

In [41]:
df.isnull().sum()

W            0
Y            0
X            0
Z            0
sum of WX    0
dtype: int64